@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap");
/* https://coolors.co/b8c2cc-08124a-313630-93e5ab-ffe0b5 */


body {
    font-size: 16px;
    font-family: Oswald, Helvetica, sans-serif;
}

.banner, footer {
    background-color: #08124A;
    color: white;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, Arial, sans-serif;
}

/* 
main {
    
} 
*/

.banner h1 {
    padding: 1rem;
    margin: 0;
}

.banner h2 {
    padding: 0 1rem 1rem 1rem;
    margin: 0;
}

#my-name {
    font-size: 1.25rem;
}

nav {
    background-color: #313630;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
}

nav a {
    flex: 1 1 auto;
    color: white;
    padding: .25rem;
    text-decoration: none;
}

nav a:hover {
    background-color: #B8C2CC;
    color: black;
}


footer p {
    padding: 1rem;
    margin: 0;
}

#last-modif {
    color: gold;
    padding: 0 1rem 1rem 1rem;
    margin: 0;
}