@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap");
/* https://coolors.co/052639-117fa6-91d9f3-7e9339-afc841 */

:root {
    --primary-color: #052639;
    --secondary-color: #117FA6;
    --accent1-color: #91D9F3;
    --accent2-color: #7E9339;
    --accent3-color: #AFC841;

    --heading-font: "Roboto", Arial, sans-serif;
    --paragraph-font: "Oswald", Helvetica, sans-serif;
}

body {
    font-size: 16px;
    font-family: var(--paragraph-font);
}

main {
    max-width: 780px;
    margin: 1rem auto;
    line-height: 1.5;
}

header, footer {
    background-color: var(--primary-color);
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
}

.logo {
    grid-column: 1 / 2;
    justify-self: center;
    align-self: center;
    padding: 1rem;
    width: 80%;
}

.siteName {
    grid-column: 2 / 4;
    justify-self: center;
    align-self: center;
    text-align: center;
}

.siteName h1, div {
    padding: 0;
    margin: 0;
}

.currentDate {
    grid-column: span 4;
    background-color: var(--secondary-color);
    color: white;
    padding: .7rem;
    margin: 0 1rem 1rem 1rem;
    border: 2px solid var(--accent1-color);
    text-align: center;
}

nav {
    grid-column: span 4;
}

#hamBtn {
    background: var(--secondary-color);
    color: white;
    border: 1px solid white;
    font-size: 2rem;
    width: 42px;
    height: 42px;
    justify-self: center;
    align-self: center;
}

#hamBtn span:nth-child(1) {
    display: block;
}

#hamBtn span:nth-child(2) {
    display: none;
}

#hamBtn.open span:nth-child(1) {
    display: none;
}

#hamBtn.open span:nth-child(2) {
    display: block;
}

nav ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul.open {
    display: block;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: white;
    border: 1px solid rgba(0,0,0,0.5);
}

nav ul li a:hover {
    background-color: var(--accent3-color);
    color: black;
}