@media only screen and (min-width: 35rem) {

body {
    font-size: 18px;
}

.home-main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#social {
    flex-direction: row;
}

#social img {
    padding: .5rem;
    height: 40px;
    width: auto;
}

.def-div {
    grid-column: 1 / 6;
}

.hero-div {
    grid-column: 1 / 6;
    height: 100%;
}

.hero-div img {
    height: 100%;
}

.news {
    grid-row: 2 / 3;
    margin-top: 2.5rem;
}

.spotlight-sec {
    grid-row: 3 / 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
}

.join-us {
    display: block;
    grid-row: 4 / 6;
    padding: .5rem 3rem;
    justify-content: stretch;
    margin: auto 0;
}

.join-us button {
    margin: .5rem;
    width: 95%;
    font-weight: 600;
}

.event {
    grid-column: 1 / 4;
    margin-right: 2rem;
}

.weather {
    grid-column: 4 / 6;
}

#footer-site-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
}

#footer-site-info a {
    grid-column: 1 / 2;
    grid-row: span 6;
}

#footer-site-name {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    text-align: left;
}

#footer-addr {
    grid-column: 2 / 3;
    grid-row: 4 / 6;
    padding: 0;
    text-align: left;
}

#footer-email {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    align-self: flex-end;
}

#footer-num {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

#footer-loc {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

.dis-image:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 75px 1px black;
}

form input.form-button {
    width: 83%;
    font-size: 1.2rem;
}

form label.top input, form textarea {
    width: 90%;
}

.form-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

form {
    grid-row: 2 / 3;
}

.mem-desc {
    grid-column: 2 / 3;
    height: fit-content;
    align-self: flex-end;
}

.list .card h3 {
    font-size: 1rem;
}

.list .card p, .list .card a {
    font-size: .83rem;
}

.join-heading {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}


}